
<%if params[:add_task]  %>
  <section class="content-header">
    <h1 style="margin-left: 230px;float: left">
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Add Task</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

<%else %>

  <section class="content-header">
    <h1 style="margin-left: 230px;float: left">
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Edit Task</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

<%end %>











<br>

<!--<div class="register-box-body">-->
<!--  <p class="login-box-msg">Register a new Task of project</p>-->


<%#= form_with(model: task, local: true) do |form| %>

    <%# if task.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>-->

<!--      <ul>-->
      <%# task.errors.full_messages.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

<!--  <div class="form-group has-feedback">-->

     <%#if current_user.role.name == "Admin" %>

      <%# unless params[:action] == "create" %>
        <%#=form.hidden_field  :project_id %>
      <%# end %>
    <%#= form.label :title %>
    <%#= form.text_field :title,class:"form-control" %>


<!--  </div>-->



<!--  <div class="form-group has-feedback">-->
    <%#= form.label :description %>
    <%#= form.text_area :description,class:"form-control" %>
<!--  </div>-->





    <%# if  params[:action] == "edit" && params[:assign_task].present? %>
<!--      <div class="form-group has-feedback">-->
        <%#= form.label :user_select %>
        <%#= collection_select(:tasks_users, :user_ids, User.all , :id, :id,promt: true) %>
<!--      </div>-->
      <%#end %>


    <%#elsif current_user.role.name == "Employee" %>

<!--      <div class="form-group has-feedback">-->
        <%#= form.label :state %>

<!--      <select name="task[state]" id="sel1" class="form-control">-->

<!--        <option value="selected">Select State</option>-->
<!--        <option value="Start">  Start        </option>-->
<!--        <option value="Pending"> Pending     </option>-->
<!--        <option value="Test">    Test        </option>-->
<!--        <option value="Completed"> Completed </option>-->
<!--      </select>-->

      <%#else %>

<!--      <div class="form-group has-feedback">-->
        <%#= form.label :duedate %>
        <%#= form.date_select :duedate %>
<!--      </div>-->



  <%#end %>
<!--    </div>-->


<!--  <div class="actions">-->
    <%#= form.submit "create Task",class:"btn btn-block btn-success"  %>
<!--  </div>-->
<%# end %>


<!--</div>-->

<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="box">
        <div class="box-header">

          <%if params[:add_task] %>

          <h3 class="box-title"> Add New Task </h3>


            <%else %>

            <h3 class="box-title"> Edit Task</h3>

            <%end%>



          <div class="box-tools">


            <div style="display:inline-block;float:left;margin-right: 10px; ">
              <!--  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Find Attendence</button>-->
            </div>

          </div>

        </div>
      </div>

      <!-- /.box-header -->
      <div >
        <div class="box-body table-responsive no-padding">
          <%= form_with(model: task, local: true) do |form| %>

            <% if task.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

                <ul>
                  <% task.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group has-feedback">

              <%if current_user.role.name == "Admin" %>

                <% unless params[:action] == "create" %>
                  <%=form.hidden_field  :project_id %>
                <% end %>
                <%= form.label :title %>
                <%= form.text_field :title,class:"form-control" %>
                </div>


                <div class="form-group has-feedback">
                  <%= form.label :description %>
                  <%= form.text_area :description,class:"form-control" %>
                </div>


                <% if  params[:action] == "edit" && params[:assign_task].present? %>
                  <div class="form-group has-feedback">
                    <%= form.label :user_select %>
                    <%= collection_select(:tasks_users, :user_ids, User.all , :id, :id,promt: true) %>
                  </div>
                <%end %>


              <%elsif current_user.role.name == "Employee" %>

                <div class="form-group has-feedback">
                  <%= form.label :state %>

                  <select name="task[state]" id="sel1" class="form-control">

                    <option value="selected">Select State</option>
                    <option value="Start">  Start        </option>
                    <option value="Pending"> Pending     </option>
                    <option value="Test">    Test        </option>
                    <option value="Completed"> Completed </option>
                  </select>

              <%else %>

                <div class="form-group has-feedback">
                  <%= form.label :duedate %>
                  <%= form.date_select :duedate %>
                </div>

              <%end %>
              </div>


              <div class="actions">
                <%= form.submit "Create Task",class:"btn btn-block btn-success"  %>
              </div>

          <% end %>

        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div>
</div>



</div>