<p id="notice"><%= notice %></p>


<!--<div style="color: white;float:left;width:10% "><%#=link_to "Back", users_path, class:"btn btn-block btn-default btn-sm" %></div>-->
<section class="content-header">
  <h1 style="margin-left: 230px;float: left">
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> View Tasks</a></li>
    <li class="active">Dashboard</li>
    <li class="active"><%= link_to 'Back', :back %></li>
  </ol>
</section>





<div class="container" >
  <% if flash[:notice] %>
    <div class="alert alert-success" id="success-alert"  style="width:33%;height:50px;float:left;margin-left:200px">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Success! </strong>
      <%= notice %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-danger" id="success-alert" style="width:27%;height:50px;float:left;margin-left:20px">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>ohh no! </strong>
      <%= flash[:error] %>
    </div>
  <% end %>
</div>














<br>


<div class="container  project-overflow">


  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Tasks List</h3>

          <div class="box-tools">

            <%if params[:add]== "attendence" %>
              <div style="display:inline-block;float:left;margin-right: 10px; ">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Attendence</button>
              </div>
            <%end %>


          </div>

        </div>
      </div>

      <!-- /.box-header -->
      <div >
        <div class="box-body table-responsive custom-style no-padding">
          <table class="table table-hover" style="background-color: white">
            <tbody>
            <tr>


              <th>Task Title</th>
              <th>Project Title</th>
              <th>Description</th>
              <th>Task State</th>
              <th>Duedate</th>

              <th colspan="3"> Actions</th>
              <% @tasks.each do |task| %>
              <tr>

                <td><%= task.title %></td>
                <td><%= task.project.title %></td>
                <td><%= task.description %></td>
                <td><%=task.state %></td>
                <td><%= task.duedate %></td>

                <%if current_user.role.name== "Admin" %>
                  <td><%= link_to 'Assign', assign_task_task_path(task),class:"btn btn-sm  btn-default" %></td>
                <%end %>

                <%if current_user.role.name== "Manager"  || current_user.role.name == "Admin" %>
                  <td><%= link_to 'Show', task ,class:"btn btn-sm  btn-primary", style:"color:white" %></td>

                  <td><%= link_to 'Edit', edit_task_path(task, edit_task:'edit'),class:"btn btn-sm btn-warning",style:"color:white" %></td>
                <%end %>

                <%if current_user.role.name== "Admin" %>
                  <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-sm btn-danger",style:"color:white"  %></td>
                <%end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>












