
<!-- Content Wrapper. Contains page content -->

<!--<div style="display:inline ">-->

  <%if current_user.role.name == "Admin"  %>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i>Users_index</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>


      <div class="container" >
        <% if flash[:notice] %>
          <div class="alert alert-success" id="success-alert" style=" width:40%;height:50px;float: left;margin-left:40px">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            <%= notice %>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="alert alert-danger" id="success-alert" style="width:40%;height:50px;float:left;margin-left:40px">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <!--            <strong>ohh no! </strong>-->
            <%= flash[:error] %>
          </div>
        <% end %>
      </div>

      
      <!-- Main content -->

        <!-- Small boxes (Stat box) -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>150</h3>

                <p>Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>44</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->

        <!-- /.row -->
        <!-- Main row -->


        <% if(current_user.role.name == "Admin" ) || (params[:employee])||(:manager)||(params[:add]) %>

        <div class="user-list-overflow">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">User's List</h3>

                <div class="box-tools">

                  <%if params[:add]== "attendence" %>
                    <div style="display:inline-block;float:left;margin-right: 10px; ">
                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Attendence</button>
                    </div>
                  <%end %>


                </div>

              </div>
            </div>

            <!-- /.box-header -->



<!--            <div class="container" >-->
              <%# if flash[:notice] %>
<!--                <div class="alert alert-success" id="success-alert" style=" width:40%;height:50px;float: left;margin-left:40px">-->
<!--                  <button type="button" class="close" data-dismiss="alert">x</button>-->
<!--                  <strong>Success! </strong>-->
                  <%#= notice %>
<!--                </div>-->
              <%# end %>
              <%# if flash[:error] %>
<!--                <div class="alert alert-danger" id="success-alert" style="width:40%;height:50px;float:left;margin-left:40px">-->
<!--                  <button type="button" class="close" data-dismiss="alert">x</button>-->
<!--                  <!--            <strong>ohh no! </strong>-->-->
                  <%#= flash[:error] %>
<!--                </div>-->
              <%# end %>
<!--            </div>-->





            <div class="user-list">

              <div class="box-body table-responsive custom-style no-padding">
                <table class="table table-hover" style="background-color: white">
                  <tbody>
                  <tr>

                    <th> U Image </th>
                    <th> Role name </th>

                    <th>name</th>
                    <th>age</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th colspan="3">Action</th>
                  </tr>

                  <% @users.each do |uu| %>
                    <tr>


                      <td><%= image_tag(uu.image.url,size: '40x40') if uu.image? %> </td>


                      <td><%=uu.role.name %></td>
                      <td><%=uu.name %></td>
                      <td><%=uu.age %></td>
                      <td><%=uu.gender %></td>
                      <td><%=uu.city %></td>
                      <td><%=uu.phone %></td>
                      <td><%=link_to "show", user_path(uu),class:"btn btn-sm btn-primary", style:"color:white"%></td>
                      <td><%=link_to "Edit", edit_user_path(uu),class:"btn btn-sm btn-warning",style:"color:white"%></td>
                      <td><%=link_to "Delete", user_path(uu), method: :delete,class:"btn btn-sm btn-danger",style:"color:white" %></td>

                    </tr>
                  <%end %>
                  </tbody></table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
          <!-- /.box -->
    <% end%>

  </div>
<%else %>



<!--  <div class="container" style="margin-top:20px " >-->
    <%# if flash[:notice] %>
<!--      <div class="alert alert-success" id="success-alert" style=" width:40%;height:50px;float: left;margin-left:180px">-->
<!--        <button type="button" class="close" data-dismiss="alert">x</button>-->
<!--        <strong>Success! </strong>-->
        <%#= notice %>
<!--      </div>-->
    <%# end %>
    <%# if flash[:error] %>
<!--      <div class="alert alert-danger" id="success-alert" style="width:40%;height:50px;float:left;margin-left:180px">-->
<!--        <button type="button" class="close" data-dismiss="alert">x</button>-->
<!--        <!--            <strong>ohh no! </strong>-->-->
        <%#= flash[:error] %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->





<%end %>





<!--</div>-->

<%# if  current_user.role.name == "Employee" %>

<!--  <div class="container">-->

<!--     <div class="row">-->
<!--       <div class="col-md-10 col-md-offset-2">-->
<!--         <div class="box">-->
<!--           <div class="box-header">-->
<!--             <h3 class="box-title">User's List</h3>-->

<!--             <div class="box-tools">-->

               <%#if params[:add]== "attendence" %>
<!--                 <div style="display:inline-block;float:left;margin-right: 10px; ">-->
<!--                   <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Attendence</button>-->
<!--                 </div>-->
               <%#end %>


<!--             </div>-->

<!--           </div>-->
<!--         </div>-->

<!--         <!-- /.box-header -->
<!--         <div >-->
<!--           <div class="box-body table-responsive custom-style no-padding">-->
<!--             <table class="table table-hover" style="background-color: white">-->
<!--               <tbody>-->
<!--               <tr>-->

<!--                 <th> U Image </th>-->
<!--                 <th> Role name </th>-->

<!--                 <th>name</th>-->
<!--                 <th>age</th>-->
<!--                 <th>Gender</th>-->
<!--                 <th>City</th>-->
<!--                 <th>Phone</th>-->
<!--                 <th colspan="3">Action</th>-->
<!--               </tr>-->

               <%# @users.each do |uu| %>
<!--                 <tr>-->


<!--                   <td><%#= image_tag(uu.image.url,size: '40x40') if uu.image? %> </td>-->


<!--                   <td><%#=uu.role.name %></td>-->

<!--                   <td><%#=uu.name %></td>-->
<!--                   <td><%#=uu.age %></td>-->
<!--                   <td><%#=uu.gender %></td>-->
<!--                   <td><%#=uu.city %></td>-->
<!--                   <td><%#=uu.phone %></td>-->
<!--                   <td><%#=link_to "show", user_path(uu),class:"btn btn-sm btn-primary", style:"color:white"%></td>-->
<!--                   <td><%#=link_to "Edit", edit_user_path(uu),class:"btn btn-sm btn-warning",style:"color:white"%></td>-->
<!--                   <td><%#=link_to "Delete", user_path(uu), method: :delete,class:"btn btn-sm btn-danger",style:"color:white" %></td>-->

<!--                 </tr>-->
               <%#end %>
<!--               </tbody></table>-->
<!--           </div>-->
<!--         </div>-->
<!--         <!-- /.box-body -->
<!--       </div>-->
<!--       <!-- /.box -->
<!--     </div>-->
<!--   </div>-->



<%#end %>



<%if current_user.role.name== "Admin" %>>

  <div style="margin-top:40px" class="container">

    <div class="modal fade" id="myModal"  role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Attendence of User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            <%= form_for(@attendence) do |form| %>
              <%#= hidden_field_tag :user_id, current_user.id %>

              <%# debugger %>


              <div class="form-group">
                <label for="sel1"><%= form.label :datee %></label>
                <%= form.date_select :datee, class:"form-control pull-right", id:"datepicker" %>
              </div>


              <div class="form-group">


              </div>


              <% if form.object.check_in.blank? %>

                <div class="form-group">

                  <%= form.label :check_in %>


                  <%= form.time_select :check_in,class:"form-control" %>
                </div>

              <% else %>

                <div class="form-group">
                  <%= form.label :check_out %>
                  <%= form.time_select :check_out,class:"form-control" %>
                </div>

              <%end %>

              <div class="form-group">
                <%= form.label :status %>
                <%= form.check_box :status %>
              </div>

              <div class="form-group">

                <%if current_user.role.name == "Admin"  %>

                  <%= form.label :user_id unless current_user.role.name=="Admin"%>
                  <%=form.collection_select(:user_id,User.all,:id ,:name,{},prompt: true, ) %>

                <% end %>

              </div>


              <div class="actions">
                <br>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= form.submit "Create", class:"btn btn-success pull-left" %>
              </div>

            <% end %>

          </div>

          <!-- Modal footer -->
        </div>
      </div>
    </div>
  </div>
<%end %>
</div>
