
<section class="content-header">
  <h1 style="margin-left: 230px;float: left">
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> <%=@user.name %>_Attendence_list</a></li>
    <li class="active">Dashboard</li>
    <li class="active"><%= link_to 'Back', users_path%></li>
  </ol>


</section>

<div style="margin-top:40px" class="container">


  <div class="modal fade" id="myModal"  role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Find Attendence Monthly</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">


          <%= form_tag user_monthly_attendence_attendences_path, method: :get  do %>
            <%= hidden_field_tag :user_id,  @user.id %>

            <%# debugger %>


            <div class="form-group">
              <label for="sel1">Month: </label>
              <select name="month" class="form-control" id="sel1">

                <option selected> Select Month</option>

                <option value="1"> January   </option>
                <option value="2"> faubery   </option>
                <option value="3"> March   </option>
                <option value="4"> April   </option>
                <option value="5"> May  </option>
                <option value="6"> June   </option>
                <option value="7"> July   </option>
                <option value="8"> Aguest   </option>
                <option value="9"> September   </option>
                <option value="10"> Octuber </option>
                <option value="11"> November </option>
                <option value="12"> December</option>

              </select>
            </div>


            <div class="form-group">
              <label for="sel1">Year: </label>
              <select name="year" class="form-control" id="sel1">

                <option selected> Select Year</option>

                <option value="2017"> 2017   </option>
                <option value="2018"> 2018  </option>
                <option value="2019"> 2019   </option>

              </select>
            </div>



            <%#= label_tag :Month %>
            <%#= select_tag(:month, options_for_select([["january",1],["febury",2],["March",3],["April",4],["May",5],["June",6],["July",7],["Aguest",8],["September",9],["October",10],["November",11],["December",12]], params[:month] ), class:"select") %>
            <%#= select_tag(:year, options_for_select([["2017",1],["2018",2],["2019",3]], params[:year] ), class:"select") %>

            <%#=select_tag(:month, Date.today, options_for_select("Januar" ,"Februar", "March" ,"April" ,"May", "june" ,"july" ,"Auguest" ,"September" ,"October", "November", "December" ))%>
            <%#= select_tag(:year, Date.today, :start_year => Date.today.year) %>

            <div class="actions">
              <br>
              <%= submit_tag "find", class:"btn btn-info" %>
            </div>

          <% end %>

        </div>


        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  <!-------------------      Attendence List  USer site sy  ---------------------->


  <!--   <div style="color: white;float:right"><%#=link_to "Back", users_path, class:"btn btn-sm btn-default" %></div>-->

  <!--   <div class="row">-->
  <!--     <div class="col-xs-12">-->
  <!--       <div class="box">-->
  <!--         <div class="box-header">-->
  <!--           <h3 class="box-title">User Attendence List</h3>-->

  <!--           <div class="box-tools">-->

  <!--             <div style="display:inline-block;float:left;margin-right: 10px; ">-->
  <!--               <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Find Attendence</button>-->
  <!--             </div>-->

  <!--           </div>-->
  <!--         </div>-->
  <!--         <!-- /.box-header -->
  <!--         <div class="box-body table-responsive no-padding">-->
  <!--           <table class="table table-hover">-->


  <%#if @user_attendence.present? %>
  <!--               <tr>-->
  <!--                 <td>Total present:</td>-->

  <!--                 <td><%#= @user_present_count %> </td>-->

  <!--               </tr>-->


  <!--               <tr>-->
  <!--                 <td>Total Absent:</td>-->

  <!--                 <td><%#=@user_absent_count %> </td>-->

  <!--               </tr>-->

  <%#end %>

  <!--             <tbody>-->
  <!--             <tr>-->

  <!--               <th > User id </th>-->
  <!--               <th > Date </th>-->
  <!--               <th > User Name</th>-->
  <!--               <th > check in </th>-->
  <!--               <th > check out </th>-->
  <!--               <th >  Status </th>-->
  <!--               <th colspan="1">  Action </th>-->

  <!--             </tr>-->

  <%# @user_attendence.each do |uu| %>

  <!--               <tr>-->

  <!--                 <td><%#=uu.user.id%></td>-->
  <!--                 <td><%#=uu.datee %></td>-->
  <!--                 <td><%#=uu.user.name %></td>-->
  <!--                 <td><%#=uu.check_in if  uu.status == true  %> </td>-->
  <!--                 <td><%#=uu.check_out   %> </td>-->
  <!--                 <td><%#=uu.status %></td>-->

  <%#if (uu.check_out.blank?) && (uu.datee.today?) &&  (uu.status == true )    %>
  <!--                   <td><%#=link_to "Edit", edit_attendence_path(id: uu.id), class:"btn btn-block btn-default"%></td>-->
  <%#end%>
  <!--               </tr>-->
  <%#end %>

  <!--             </tbody></table>-->
  <!--         </div>-->
  <!--         <!-- /.box-body -->
  <!--       </div>-->
  <!--       <!-- /.box -->
  <!--     </div>-->
  <!--   </div>-->

  <!-- </div>-->

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"> User Attendence Report  </h3>

            <div class="box-tools">


              <div style="display:inline-block;float:left;margin-right: 10px; ">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" %>Find Attendence</button>
              </div>



            </div>

          </div>
        </div>

        <!-- /.box-header -->
        <div class="attendance-table">
          <div class="box-body table-responsive custom-style custom-style_employee no-padding">
            <table class="table table-hover">


              <%if @user_attendences.present? %>
                <tr>
                  <td>Total present:</td>

                  <td><%= @user_present %> </td>

                </tr>


                <tr>
                  <td>Total Absent:</td>

                  <td><%=@user_absent %> </td>

                </tr>
                <tr>
                  <td>Total Attendences:</td>

                  <td><%= @user_total_attendence %> </td>

                </tr>

              <%end %>

              <tbody>
              <tr>


                <th > Date </th>
                <th > check in </th>
                <th > check out </th>
                <th >  Status </th>
                <th colspan="1">  Action </th>

              </tr>

              <%  @user_attendences.each do |uu| %>

                <tr>


                  <td><%=uu.datee.strftime("%d/%m/%Y %A") %></td>

                  <td><%=uu.check_in.strftime("%H:%M %S") if  uu.status == true  %> </td>
                  <td><%=uu.check_out.strftime("%H:%M %S") if uu.check_out.present?   %> </td>
                  <td><%=uu.status %></td>

                  <%if (uu.check_in.present?) && (uu.check_out.blank?) &(uu.datee.today?)     %>
                    <td><%=link_to "Edit", edit_attendence_path(id: uu.id), class:"btn btn-block btn-default"%></td>
                  <%end%>
                </tr>
              <%end %>

              </tbody></table>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
  </div>



</div>
