<!DOCTYPE html>
<html>
<head>
  <title>Wms</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'employee', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'employee', 'data-turbolinks-track': 'reload' %>

</head>

<body  class="hold-transition skin-blue sidebar-mini">



<%= render "layouts/header/employee_header" %>
<%= render "layouts/menu/employee_menu"%>


<%= yield %>
</body>
</html>
